[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
dramatiq = {extras = ["redis", "watch"],version = "*"}
requests = "*"
stellar-sdk = "*"
sanic = "*"
sqlalchemy = "*"
asyncpg = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
